$black:black;
$black-30:rgba(0, 0, 0, 0.3);
$black-90:rgba(0, 0, 0, 0.9);
$black-84:rgba(0, 0, 0, 0.84);
$black-80:rgba(0, 0, 0, 0.8);
$black-70:rgba(0, 0, 0, 0.7);
$black-60:rgba(0, 0, 0, 0.6);
$black-20:rgba(0, 0, 0, 0.2);
$black-17:rgba(0, 0, 0, 0.17);

$white:white;
$white-80:#ffffffcc;
$white-f8:#f8f8f8;
$white-fb:#fbfbfb;
$white-f9:#f7f7f9;
$white-f5:#f5f5f5;
$white-f2:#f2f2f2;


$grey-c2:#acacac;
$grey-e9:#e9e9e9;
$grey-d3:#d3d3d3;
$grey-a4:#a7a4a4;
$grey-a6:#999fa6;
$grey-61:#616161;
$grey-6c:#6c6c6c;
$grey-5c:#5c5c5c;
$grey-90:#909090;
$grey-34:#343434;
$grey-9e:#9f9e9e;
$grey-88:#888888;
$grey-70:#707070;
$grey-66:#666666;
$grey-ee: #eeeeee;
$grey-f1: #f1f1f1;
$grey-80:#818080;
$grey-93:rgb(147, 147, 147,0.8);
$grey-e3:rgb(227, 227, 227);

$grey-f15: rgba(241, 241, 241,0.5);



$blue-85:#015685;
$blue-87:rgb(21, 71, 135);
$blue-de:#837ede;
$blue-ff:#f0f3ff;
$blue-f8:#ddebf8;
$blue-4ff:#49b4ff;
$blue-3ff:#0073ff;
$blue-2ff:#e8f2ff;
$blue-1ff:#e6f1ff;

// $green:rgb(5, 116, 55);
$green-2c:#136b2c ;
// $red:rgb(216, 31, 31);
$green-28:#3daf28;

$green-dc:#dff1dc;
$red-08:#eb0808;
$red-00:#ff0000;
$red-33:#f73333;
$red-26:#ffd6d6;

$orange-29:#ff7129;
$orange-cf:#ffdfcf;
$pink-b5:#ff09b5;

$box-shadow-1: 0px 0px 6px 0px rgba(0,0,0,0.23);
$box-shadow-2: 0px 6px 7px -2px rgba(0,0,0,0.2);
$box-shadow-3: 0px 0px 6px 2px rgba(0,0,0,0.12);