
@font-face{
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/poppins_400.ttf") format('truetype');
}

@font-face{
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/poppins_500.ttf") format('truetype');
}

@font-face{
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/poppins_600.ttf") format('truetype');
}

@font-face{
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/poppins_700.ttf") format('truetype');
}
